body {
    display: flex;
    justify-content: center;
    
    height: 700px;
    align-items: center;
}


section {
    display: flex;
    align-items: center;
}



#randomResult {
    width: 100px;
    height: 100px;
    border: black solid 5px;
}