body {
    display: flex;
}

div {
    flex-wrap: nowrap;
    align-items: center;

}



section {
    margin: 70px;
}

#randomResult {
    width: 100px;
    height: 100px;
    border: black solid 5px;
}